<div class="results-block">
  <%= bootstrap_flash %>
</div>

<% if @stock.present? %>
  <div class="well results-block">
    <strong>Symbol: </strong><%= @stock.ticker %>
    <strong>Name: </strong><%= @stock.name %>
    <strong>Last price: </strong><%= @stock.last_price %>
  </div>
<% end %>